/*
General element customizations
*/
@font-face {
    font-family: orbitron;
    font-weight: normal;
    src: url("./fonts/Orbitron.ttf") format("truetype");
}
@font-face {
    font-family: courier-prime;
    font-weight: normal;
    src: url("./fonts/CourierPrime-Regular.ttf") format("truetype");
}
@font-face {
    font-family: afacad-flux;
    font-weight: normal;
    src: url("./fonts/AfacadFlux-Regular.ttf") format("truetype");
}
@font-face {
    font-family: afacad-flux;
    font-weight: bold;
    src: url("./fonts/AfacadFlux-Bold.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #f6f6f6;
    font-family: afacad-flux, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: orbitron, sans-serif;
    color: black;
    font-size: clamp(2rem, 5vw, 5rem);
    text-align: center;
    font-weight: normal;
    margin: -2rem 0 2rem;
    text-shadow: 0px 5px #4e5a94;
}

h2 {
    font-family: afacad-flux, sans-serif;
    color: black;
    text-align: center;
    font-size: clamp(1.7rem, 2vw, 2.2rem);
    margin: 0.5em 0;
    border-bottom: 2px solid #4e5a94;
}

h3 {
    font-family: afacad-flux, sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: black;
    font-weight: bold;
    margin: 0.5em 0;
    border-bottom: 1px solid #4e5a94;
}

p {
    font-family: afacad-flux, sans-serif;
    font-size: clamp(1rem, 1.3vw, 1.3rem);
    color: #4e5a94;
    margin: 0.5em 0;
}

input {
    height: 1.5em;
    font-family: afacud-flux
}

input[type="text"]
{
    font-family: afacad-flux;
    font-size: 1em;
    width: 70%;
    border: 1px solid black;
}

select
{
    font-family: afacad-flux;
    /* width: 50%; */
    padding: 0.5em 0;
    font-size: 1em;
    border: 1px solid black;
}

button {
    font-family: afacad-flux, sans-serif;
    font-size: 1em;
    border: 1px solid black;
    font-weight: normal;
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
    cursor: pointer;
}

/*
Grid Layout for the main page
*/
.parts-layout {
    width: 100%;
    display: grid;
    grid-template-areas: 
        "header header header"               
        "left main right";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    padding: 2rem 1rem 0;
}

.top {
    grid-area: header;
    text-align: center;
    line-height: 3rem;
}

.left {
    grid-area: left;
}

.center {
    grid-area: main;
    border-left: 2px solid #4e5a94;
    border-right: 2px solid #4e5a94;
}

.right {
    grid-area: right;
}

/*
Center grid, screen for live tracking information
*/
.frame-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    height: clamp(350px, 40vh, 400px);
    overflow: hidden;
    margin: 0 auto;
    max-width: 90%;
}

iframe.screen {
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
    display: block;
}

.frame-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 1rem;
}

#utc-msg, #last-update {
    text-align: center;
}

/*
Left grid, Connectivity setup
*/
.connectivity_setup {
    justify-content: center;
    align-items: center;
    margin: -8em 0;
}

    /*
    Flex layout for the Radio and Client Connectivity Setups
    */
    .client_fields_setup {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 0 0 1rem;
        text-align: center;
    }

    .client_fields_setup input[type="text"] {
        width: 100%;
        padding: 0.3rem;
        box-sizing: border-box;
    }

    @media (max-width: 600px) {
        .client_fields_setup {
            grid-template-columns: 1fr;
        }
        
        .client_fields_setup p {
            text-align: left;
        }
    }

        /*
        Flex layout for elements inside the Radio and Client Connectivity Setups
        */
        .dropdown {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            margin: 1rem 4rem;
        }

/*
Right grid, Connected Clients setup
*/
.connected_clients_setup {
    justify-content: center;
    align-items: center;
    margin: -8em 0;
    margin-right: 1rem;
}

.connected_radio {
    margin: 0 3rem;
}


.signal_flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.cancel-btn {
    margin-left: 0.5rem;
    font-size: 1.2em;
    cursor: pointer;
    padding-left: 0.4rem;
}

.connected_clients {
    margin: 0 3rem;
}