@font-face {
    font-family: orbitron;
    font-weight: normal;
    src: url("Orbitron.ttf") format("truetype");
}
@font-face {
    font-family: courier-prime;
    font-weight: normal;
    src: url("CourierPrime-Regular.ttf") format("truetype");
}
@font-face {
    font-family: afacad-flux;
    font-weight: normal;
    src: url("AfacadFlux-Regular.ttf") format("truetype");
}
@font-face {
    font-family: afacad-flux;
    font-weight: bold;
    src: url("AfacadFlux-Bold.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #f6f6f6;
    font-family: afacad-flux, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: orbitron, sans-serif;
    color: black;
    font-size: clamp(2rem, 5vw, 5rem);
    text-align: center;
    font-weight: normal;
    margin: -2rem 0 2rem;
}

h2 {
    font-family: afacad-flux, sans-serif;
    color: black;
    text-align: center;
    font-size: clamp(1.7rem, 2vw, 2.2rem);
    margin: 0.5em 0;
}

h3 {
    font-family: afacad-flux, sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: black;
    font-weight: bold;
    margin: 0.5em 0;
}

p {
    font-family: afacad-flux, sans-serif;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    color: black;
    font-weight: normal;
    margin: 0.5em 0;
}

input {
    height: 1.5em;
    font-family: afacud-flux
}

input[type="text"]
{
    font-family: afacad-flux;
    font-size: 1em;
    width: 50%;
    border: 1px solid black;
}

button {
    font-family: afacad-flux, sans-serif;
    font-size: 1em;
    border: 1px solid black;
    font-weight: normal;
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
    cursor: pointer;
}

.parts-layout {
    width: 100%;
    display: grid;
    grid-template-areas: 
        "header header header"               
        "left main right";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    padding: 2rem 1rem 0;
}

.top {
    grid-area: header;
    text-align: center;
    line-height: 3rem;
}

.left {
    grid-area: left;
}

.center {
    grid-area: main;
}

.right {
    grid-area: right;
}

button.signal {
    padding: 0.5em 1em;
    margin: 0.2em;
    white-space: nowrap;
}

.signal_flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.frame-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    height: clamp(350px, 40vh, 400px);
    overflow: hidden;
    margin: 0 auto;
    max-width: 90%;
}

iframe.screen {
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
    display: block;
}

.frame-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 1rem;
}

#utc-msg, #last-update {
    text-align: center;
}

.prediction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
    gap: 1rem;
}

.prediction-field {
    background-color: white;
    border: 1px solid black;
    padding: 0.5em 1em;
    min-width: 100px;
    text-align: center;
}

.track-setup {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: -3em 0;
}

.distance_setup {
    text-align: center;
    padding: 1rem;
    margin: -3em 0;
}

.client_bar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    gap: 0.5rem;
}

button.client {
    padding: 0.5em 1em;
    min-width: 100px;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.dropdown-btn {
    padding: 6px 10px;
    background: white;
    border: 1px solid black;
    position: static;
    margin: 1em 0;
}

.dropdown-btn::after {
    content: '▲';
}

.dropdown-btn.active::after {
    content: '▼';
}

.dropdown-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid black;
    width: 100%;
    margin: 3.1rem 0;
}

.dropdown-content p {
    padding: 1rem 0;
    margin: 0;
}

.client_fields_setup {
    display: grid;
    grid-template-columns: minmax(auto, max-content) 1fr;
    gap: 0.3rem 0.8rem;
    padding: 0.1rem clamp(0.5rem, 3vw, 1.5rem);
    width: 100%;
    align-items: center;
}

.client_fields_setup input[type="text"] {
    width: 100%;
    padding: 0.3rem;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .client_fields_setup {
        grid-template-columns: 1fr;
    }
    
    .client_fields_setup p {
        text-align: left;
    }
}