.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #ffe21c);
}
@font-face {
    font-family: orbitron;
    font-weight: normal;
    src: url("Orbitron.ttf") format("truetype");
}
@font-face {
    font-family: courier-prime;
    font-weight: normal;
    src: url("CourierPrime-Regular.ttf") format("truetype");
}
@font-face {
    font-family: afacad-flux;
    font-weight: normal;
    src: url("AfacadFlux-Regular.ttf") format("truetype");
}
@font-face {
    font-family: afacad-flux;
    font-weight: bold;
    src: url("AfacadFlux-Bold.ttf") format("truetype");
}
h1 {
    font-family: orbitron;
    color: black;
    font-size: 5em;
    text-align: center;
    font-weight: normal;
}
h2 {
    font-family: courier-prime;
    color: black;
    text-align: center;
    font-size: 1.7em;
}
h3 {
    font-family: afacad-flux;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}
p {
    font-family: afacad-flux;
    font-size: 1.2em;
    color: black;
    font-weight: normal;
}
button {
    font-family: afacad-flux;
    font-size: 1em;
    border: 1px solid black;
    font-weight: normal;
    transition: background-color 0.3s, color 0.3s;
}

button.active {
    background-color: #4CAF50;
    color: white;
}
input, button {
    border: 1px solid black;
    background-color: white; 
}
input {
    height: 1.5em;
    font-family: afacud-flux
}
input[type="text"]
{
    font-family: afacad-flux;
    font-size: 1em;
}
input:focus {
    border: 2px solid black; 
}
body {
    overflow: hidden;
    background: #f6f6f6;
}
.parts-layout {
    height: 100vh;
    width: 100vw;
    margin: -0.5em;
    display: grid;
    grid-template-areas: 
        "header header header"               
        "left main right"
        "footer footer footer";
    grid-template-rows: 20% 70% 0%;
    grid-template-columns: 25% 50% 25%;
    align-items: top;
 }
 .top {
    grid-area: header;
    text-align: center;
    line-height: 1em;
 }

.bottom {
    grid-area: footer;
    text-align: center;
    line-height: 1em;
 }

 .left {
    grid-area: left;
 }
 .center {
    grid-area: main;
 }
 .right {
    grid-area: right;
 }
.signal_flexbox {
    display: flex;
    margin: 0px auto;
    justify-content: center;
}
button.signal {
    padding: 0 1em;
    margin: 0 0.2em;
}
.frame-container {
    display: flex;
    margin: 2em 4.1em;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    height: 450px; /* Adjust this height as needed for your UI */
}

iframe.screen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
    display: block;
}

.frame-info {
    display: flex;
    justify-content: space-around;
    column-gap: 15em;
    flex-wrap: wrap;
}
.frame-info-left {
    display: flex;
}
.frame-info-right {
    display: flex;
    justify-content: right;
}
#utc-msg {
    text-align: center;
}
#last-update {
    text-align: center;
}
.track-setup {
    width: 31.25em;
    margin: 0 -3em;
}
.tracking {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img#trackparts {
    height: 50%;
    width: 50%;
    margin: 0px -100px;
}

.tweak-setup {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}

.radio-setup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 2em;
}
.distance_setup {
    justify-content: center;
}

.measuring {
    display: flex;
}

.line_bar {
    width: 90%;
    margin: 0px -10px;
}

.bar-measure {
    width: 1em;
    margin: 0.7em 0;
    border: 1px solid black;
    background-color: black;
    overflow: hidden;
}

#bar-measure-line {
    background-color: white;
    height: 100%;
}